.benefit {
  text-align: center;
}

.benefit__title {
  font-weight: bold;
  font-size: rem(24px);
  color: #292929;
}

.benefit__image__wrapper {
  display: inline-block;
  width: rem(128px);
  height: rem(128px);
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
}

.benefit__icon {
  width: rem(58px);
  height: rem(58px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}